<%- include("includes/header.ejs"); %>
<body>
  <h1>This is the page of @ <%= data.name %></h1>
  <button>Follow</button>
  <button>Message</button>
   <p>
    Followers: <%=data.followers %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Following: <%= data.following %>
   </p>

   <hr>
    <% for(let post of data.posts){ %>
    <img src="<%= post.image %>" alt="">
    <p>
   
    Likes:  <%= post.likes %>
    Comments: <%= post.comments %>
    </p>
     <% }%>
</body>
<script src="/script.js"></script>
</html>
